:root {
    --primary-color: darkblue;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    width: 840px;
    margin: 0 auto;
}

aside {
    width: 50%;
    margin: 15px;
    border: 1px;
    padding: 1rem;
    background-color: gray;
    color: #333;
    text-align: center;
    position: relative;
    right: 15px;
    /* bottom: 15px;
    top: 800px; */
}

aside img {
    width: 100%;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    box-shadow: 0 0 30px #333333;
    margin: 0 auto;
    padding: 2px;
    border: 1px solid black;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    /* position: fixed; */
}

main {
    margin: 0 auto;
    max-width: 800px;
}